

#gnav {
	margin-bottom: 100px;
	height: 60px;
	background: url(../images/bg_gnav.png) repeat-x left top;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
#gnav ul {
	overflow:hidden;
}
#gnav li {
	list-style: none;
	width: 125px;
	float: left;
}

/* サブナビゲーション */
#gnav li ul {
	display: none;
	position: relative;
	top: -6px;
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
#gnav li ul li {
	float: none;
}
#gnav li ul li a {
	padding: 10px 20px;
	background: #444;
	display: block;
}
#gnav li ul li a:hover {
	background: #666;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
