@charset"utf-8";
/*-------------------------------------------
ベースコーディング
-------------------------------------------*/
/*文字コード*/
body, textarea { font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif; font-size: 13px; color:#333333;}
input, select { font-family: Arial, "ＭＳ Ｐゴシック", sans-serif; }
article, aside, figure, figcaption, details, footer, header, hgroup, nav, section, summary{display:block;}
/*その他*/
ul{padding: 0; margin: 0;}
li{list-style: none;}
a img:hover{opacity: 0.8;}
.img-responsive{display: inline;}
p,h1,h2,h3,h4{margin: 0;}
/*-------------------------------------------
全体構成
-------------------------------------------*/
body{margin: 0 auto; word-break: break-all; background-color: #fff;}
html{background-color: #fff;}
/*wpデフォルト設定*/
.aligncenter {display: block;margin: 0 auto;}
.alignright {float: right;}
.alignleft {float: left;}

/*-------------------------------------------
トップ
-------------------------------------------*/
#firstView{position: relative; margin-bottom: 50px;}
.top1{background:#fff; width: 100vw; height: 100vh; display: flex;}
.logo1{top: 50%; text-align: center; position: relative;}
.logo1_1{font-size: 35px; color:#000; letter-spacing: 5px; font-family: "ヒラギノ明朝 Pro W3", serif; padding: 10px;}
.logo1_2{font-size: 15px; color:#000; letter-spacing: 3px; font-family: "Book Antiqua"; padding: 10px;}
.top2{background:#000; width:100vw; height: 100vh; display: flex;}
.logo2{top: 50%; text-align: center;position: relative;}
.logo2_1{font-size: 35px; color:#fff; letter-spacing: 5px; font-family: "Book Antiqua"; padding: 10px;}
.logo2_2{font-size: 15px; color:#fff; letter-spacing: 3px; font-family: "Book Antiqua"; padding: 10px;}
.top3{background-image: url(img/top/img_top01.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.logo3{top: 50%; text-align: center;position: relative;}
.logo3_1{font-size: 35px; color:#fff; letter-spacing: 5px; font-family: "Book Antiqua"; padding: 10px;}
.logo3_2{font-size: 15px; color:#fff; letter-spacing: 3px; font-family: "Book Antiqua"; padding: 10px;}
.top4{background-image: url(img/top/img_top06.jpg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top5{background-image: url(img/top/img_top03.jpg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top6{background-image: url(img/top/img_top04.jpg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top7{background-image: url(img/top/img_top07.JPG); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top8{background-image: url(img/top/img_top08.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top9{background-image: url(img/top/img_top09.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top10{background-image: url(img/top/img_top10.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top11{background-image: url(img/top/img_top11.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top12{background-image: url(img/top/img_top12.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top13{background-image: url(img/top/img_top22.png); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top14{background-image: url(img/top/img_top14.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top15{background-image: url(img/top/img_top15.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top16{background-image: url(img/top/img_top16.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top17{background-image: url(img/top/img_top17.jpeg); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top18{background-image: url(img/top/img_top23.png); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}
.top19{background-image: url(img/top/img_top19.JPG); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100vh; display: flex;}

.topMenuBtn{padding: 10px; text-align: center; position: absolute; bottom: 30px; left: 50%;}
.topMenuBtn i{font-size: 45px; color:#fff;}
#firstView{z-index:99999;}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header{background: #fff; z-index:9999; padding-bottom: 15px;}
.headLogo{padding: 8px 0 0 15px;}
.headLogo a{font-size: 22px; color: #000; font-family: "Times New Roman";}
.pcNavUl{overflow: hidden; text-align: left;}

.pcNavUl li{float: left; border-left: solid 0.5px; padding: 15px 70px 0 8px;}
.pcNavUl a{font-size: 12px; color: #000;}
#secondView{position:relative;}
.spMenuBtn{position: absolute; top: 10px; right: 25px; cursor: pointer;}
#spNav{display: none;}

/*------------------------------------------
index.php
-------------------------------------------*/
/*news*/


/*aboutus*/
#aboutus{margin: 70px 0;}
.sectionTit{font-size: 30px; margin: 80px 0; text-align: center; font-family: "Book Antiqua";}
.aboutUsTop{padding:0 35px; margin-bottom: 120px;}
.groupImg{box-shadow:1px 1px 8px;}
.groupText{padding: 20px; text-align: center;}
.groupName{padding: 5px 0;}
.groupNameJpn{font-weight: 500; font-family: "ヒラギノ明朝 Pro W3", serif;font-size: 22px;}
.groupNameEn{font-weight: 500; font-family: "Times New Roman";font-size: 22px; }
.groupInfoBox{margin: 40px;}
.groupInfoEn{margin-top: 15px;}
.eachMenBox{text-align: center; margin-bottom:70px; padding: 0 35px;}
.eachMenImg{margin-bottom: 20px; box-shadow:1px 1px 8px;}
.eachName{padding: 5px 0;}
.eachNameJpn{font-weight: 500; font-family: "ヒラギノ明朝 Pro W3", serif;font-size: 18px; }
.eachNameEn{font-weight: 500; font-family: "Times New Roman";font-size: 18px; }
.eachPositionEn{padding: 5px 0; font-size: 14px; }
.eachPositionJpn{padding: 5px 0; font-size: 14px; }
.aboutusMore{text-align:right; margin:15px 0 10px; font-weight: bold; cursor: pointer;}
#eachMen2nd{display: none; text-align: left; padding: 5px 10px 10px;}
#eachMen2nd span{font-size: 12px; color:#6a6868; padding: 6px 0 10px;}
#eachMen2nd p{font-size: 12px; color:#9f9f9f;}
.eachMenInfoTit{font-size: 12px; font-weight:bold; color:#6a6868;　width: 78px; vertical-align: top; padding-right: 3px;}
.eachMenInfoText{font-size: 12px;color:#9f9f9f; vertical-align: top;}
.eachMenInfoJpn{padding-bottom: 15px;}
.eachMenInfoJpn ul{overflow: hidden;}
.eachMenInfoJpn li{float: left; display: inline;}
.eachMenInfoEn{padding-bottom: 15px;}
.eachMenInfoEn ul{overflow: hidden;}
.eachMenInfoEn li{float: left; display: inline;}

/*------------------------------------------
single.php
-------------------------------------------*/
.singleName{font-size: 30px; margin: 80px 0; text-align: center; font-family: "Book Antiqua";}


/*------------------------------------------
モバイル
-------------------------------------------*/
@media(max-width: 959px){
#header{margin: 0 15px;}
}

@media(max-width: 767px){
}


@media(max-width: 480px){

test
}
